﻿<%@ Page Title="Home Page" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.vb" Inherits="NumberNinjas2._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Number Ninjas</h1>
        <p class="lead">Please choose one of the following to work on from below!</p>
        <p>
<%--           <label><asp:RadioButton ID="Addition" runat="server" /> Addition </label>--%>
<%--               <label>&nbsp;<asp:CheckBox ID="CheckBox2" runat="server" /> Addition</label>--%>
            <asp:ImageButton ID="ImageButton1" OnClick="ImageButton1_Click" runat="server" ImageUrl="~/Images/Add.png"/>
                        
            <asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/Images/Sub.png"/>

            <asp:ImageButton ID="ImageButton3" runat="server" ImageUrl="~/Images/Mul.png"/>

            <asp:ImageButton ID="ImageButton4" runat="server" ImageUrl="~/Images/div3.png"/>

   <%-- <div class="row">
        <div class="col-md-4">
            <h2>Getting Started</h2>
            <p>
                ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>
                NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>
                You can easily find a web hosting company that offers the right mix of features and price for your applications.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
            </p>
        </div>
    </div>--%>

    </div>
</asp:Content>
